<h1>
  <%= @user.name %>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>投稿数(<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <% end %>
      <%= paginate @posts %>
  </div>
</h1>