<header>
  <%= link_to image_tag("logo.jpeg", :class => "logo"), :action => "index", :controller=>"posts" %>
  <ul>
    <li><%= link_to "新規投稿", new_post_path %></li>
    <li>ユーザ一覧</li>
    <li>投稿一覧</li>
    <li>曲別投稿</li>
    <li>メンバー別投稿</li>
    <li>マイページ</li>
  </ul>
</header>